.brand-wrapper {
	display: grid;
	background-color: #303030;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	padding: 2em;
}
.brand {
	grid-column: 1/3;
	white-space: nowrap;
}

.brand-links,
.brand-links-authed {
	align-self: center;
	font-size: 1.3rem;
}
.brand-links {
	grid-column: 4/5;
}
.brand-links-authed {
	grid-column: 3/5;
}
.brand-links-btns {
	display: flex;
	font-size: .95rem;
	justify-content: space-around;
	align-items: center;
	padding: .5em;
}

.brand-links a {
	color: inherit;
}

.brand-links-menu {
	padding: .5em;

	@media (min-width: 768px) {
		display: none;
	}
}
.brand-links-login,
.brand-links-login-icon {
	display: none;

	@media (min-width: 768px) {
		display: inline-block;
	}
}

.brand-dropdown {
	display: none;
	color: #000;
	border-radius: 2px;
	position: absolute;
	top: 4.9rem;
	padding: 10px;
	z-index: 10;
}
.brand-user-account:hover {
	position: relative;
	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}
