.brand-wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	padding: 2em;
}

.brand-links {
	order: 3;
}
.brand-links-btns {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: .5em;
}

.brand-links a {
	color: inherit;
}

.brand-dropdown {
	display: none;
	color: #000;
	border-radius: 2px;
	position: absolute;
	top: 4.9rem;
	padding: 10px;
	z-index: 10;
}
.brand-user-account:hover {
	position: relative;
	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}
