.container {
	text-align: center;
	padding: 0 .7em;
}
.container-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 .7em;
}

.footer {
	font-size: .8rem;
	color: #bbbbbb;
}
