.menu {
	display: flex;
	font-size: .89rem;
	flex-direction: column;
	background-color: #353535;
	height: 100vh;
	width: 20em;
	z-index: 100;
	position: fixed;
	right: 0;
	transform: translateX(20em);
	transition: transform ease-in-out 900ms;
}
.menu-inner-wrapper {
	display: flex;
	border-bottom: 1px solid #575757;
	text-transform: uppercase;
}

.menu-container-3 {
	display: grid;
	grid-template-columns: 3fr 10fr 2fr;
	justify-content: space-around;
}

.menu-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 1fr);
	padding: 1em 0;
}

.menu-grid-item {
	padding: 0.9em .7em;
}
.menu-grid-item-dm {
	padding-right: 14em;
}

.menu-target,
.menu-target-1 {
	cursor: pointer;
}
