$primary: #17a2b8;
$dark: #343a40;
$light: #f4f4f4;
$danger: #dc3545;
$success: #28a745;
$white: #fff;

:root {
	--primary: #{$primary};
	--dark: #{$dark};
	--light: #{$light};
	--danger: #{$danger};
	--success: #{$success};
	--white: #{$white};
	--gBorder: 1px solid#ccc;
	--max-width: 1100px;
}

// Set text color based on background
@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return #333;
	} @else {
		@return #fff;
	}
}

// Set background & text color
@mixin set-background($color) {
	background-color: $color;
	color: set-text-color($color);
	a {
		color: set-text-color($color);
	}
}

// Text styles
@mixin text-style($fontSize,$lineHeight,$marginBottom) {
	font-size: $fontSize;
	line-height: $lineHeight;
	margin-bottom: $marginBottom;
}

// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
	// All around margin
	.m-#{$space} {
		margin: #{$space}em;
	}

	// Vertical Margin
	.my-#{$space} {
		margin: #{$space}em 0;
	}
	// All around padding
	.p-#{$space} {
		padding: #{$space}em;
	}

	// Vertical Padding
	.py-#{$space} {
		padding: #{$space}em 0;
	}
}
