.form {
	&-group {
		margin: 1.2em 0;
	}
	&-text {
		display: block;
		margin: 0.3em;
		color: #888;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='date'],
	select,
	textarea {
		display: block;
		width: 100%;
		padding: 0.4em;
		font-size: 1.2rem;
		border: var(--gBorder);
		border-radius: 0.2em;
	}
}
